<!DOCTYPE html>
<html lang="ko" layout:decorate="~{global/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="flex flex-col w-300 justify-center items-center" layout:fragment="content">
<form th:action method="post" class="bg-white p-10 rounded-xl shadow-xl w-1/2">
    <div class="mb-5">
        <label for="username" class="form-label">사용자ID</label>
        <input type="text" name="username" id="username" class="form-control input input-bordered w-full max-w-xs">
    </div>
    <div class="mb-5">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" name="password" id="password" class="form-control input input-bordered w-full max-w-xs">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
</form>
</div>
</body>
</html>