<!DOCTYPE html>
<html lang="ko" layout:decorate="~{global/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header layout:fragment="header" class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/">전제 글</a></li>
        <li><a href="/post/list">공개글 목록</a></li>
        <li><a href="/post/myList">내 글 목록</a></li>
        <li><a href="/post/write">글 작성</a></li>
        <li><a href="/member/login">로그인</a></li>
        <li><a href="/member/join">회원가입</a></li>
        <li><a th:href="@{/member/logout}">로그아웃</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl">MEDIUM</a>
  </div>
  <div class="navbar-end">
    <div th:if="${#authentication?.name != null}" th:text="${#authentication?.name}"></div>
  </div>
</header>


</body>
</html>